---
import ContentSection from "./ContentSection.astro";
import Buttom from "~/components/ui/Buttom.astro";
---

<ContentSection title="ABOUT" id="about">
  <Fragment slot="lead">
    <span class="text-primary">I'm Erick Vasquez, a Software Engineer</span>
    <br />
    <br />
    I’ve cultivated compromise and responsibility managing tasks effectively.
  </Fragment>
  <Buttom
    ref="https://pdfupload.io/docs/dc748424"
    title="Downloand CV"
    target="_blank"
    icon="mdi:file"
    class="grid grid-cols0"
  />
</ContentSection>
