---
import ContentSection from "./ContentSection.astro";
import SkillsList from "./SkillsList.astro";

const frameworks = [
  {
    title: "Spring Boot",
    icon: "frameworks/spring",
    url: "https://spring.io/guides/gs/spring-boot/"
  },
  {
    title: ".Net Core",
    icon: "frameworks/netcore",
    url: "https://dotnet.microsoft.com/en-us/download"
  },
  {
    title: "React",
    icon: "mdi:react",
    url: "http://react.dev"
  },
  {
    title: "Tailwind",
    icon: "mdi:tailwind",
    url: "https://tailwindcss.com/"
  }
];

const technologies = [
  {
    title: "Java",
    icon: "mdi:language-java",
    url: "https://www.java.com/"
  },
  {
    title: "C#",
    icon: "frameworks/csharp",
    url: "https://learn.microsoft.com/en-us/dotnet/csharp/"
  },
  {
    title: "SQL",
    icon: "frameworks/sql",
    url: "https://www.postgresql.org/"
  },
  {
    title: "HTML",
    icon: "mdi:language-html5",
    url: "https://html.com/html5/"
  },
  {
    title: "CSS",
    icon: "mdi:language-css3",
    url: "https://developer.mozilla.org/en-US/docs/Web/CSS"
  }
];
---

<ContentSection title="SKILLS" id="skills">
  <Fragment slot="lead">
    There is my <span class="text-primary">mains</span> skills
  </Fragment>
  <SkillsList title="Technologies" data={technologies} />
  <SkillsList title="Frameworks" data={frameworks} />
</ContentSection>
