---
import ContentSection from "../components/content-section.astro";
import { getArticles } from "../api/devto/getArticles";
import Article from "../components/article-card.astro";
import "~/styles/index.css";
import Splash from "../components/splash.astro";
import Header from "../components/header.astro";
import Head from "../components/head.astro";
import Footer from "../components/footer.astro";

const articles = await getArticles({ pages: 3, perPage: 3 });
---
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
<Head title="Erick Vasquez's blog"
      description="Welcome to my blog! My name is Erick Vasquez." />


<body
  class="h-full overflow-x-hidden text-base bg-default text-default selection:bg-secondary selection:text-white"
>
<Header />
<Splash splashTitle="Erick's Blog" />
<div class="px-8 py-32 space-y-24">
  <ContentSection title="MY LAST BLOGS" id="blog">
    <section class="flex flex-wrap justify-center gap-4">
      {articles.map(article => (
        <Article
          title={article.title}
          description={article.description}
          image={article.cover_image || "https://via.placeholder.com/150"}
          publishedAt={article.published_at}
          url={article.url}
        />
      ))}
    </section>
  </ContentSection>
</div>
<Footer />
</body>
