---
import Head from "~/components/head.astro";
import Skills from "~/components/skills.astro";
import Contact from "~/components/contact.astro";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import About from "~/components/about.astro";
import Portfolio from "~/components/portfolio.astro";
import Splash from "~/components/splash.astro";
import "~/styles/index.css";
---

<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
<Head title="Erick Vasquez's Portfolio"
      description="Welcome to my digital portfolio! My name is Erick Vasquez." />

<!-- 
  _   _          _   _             _____   _                            _                                                                            _                                                              _          ___   
 | | | |   ___  | | | |   ___     |_   _| | |__     ___   _ __    ___  | |  
 | |_| |  / _ \ | | | |  / _ \      | |   | '_ \   / _ \ | '__|  / _ \ | |    
 |  _  | |  __/ | | | | | (_) |     | |   | | | | |  __/ | |    |  __/ |_|     
 |_| |_|  \___| |_| |_|  \___/      |_|   |_| |_|  \___| |_|     \___| (_)    
 
-->

<body
  class="h-full overflow-x-hidden text-base bg-default text-default selection:bg-secondary selection:text-white"
>
<Header />
<Splash splashTitle="Hi There!" />
<div class="px-8 py-32 space-y-24">
  <About />
  <Skills />
  <Portfolio />
  <Contact />
</div>
<Footer />
</body>
</html>
