---
import Buttom from "./buttom.astro";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="ABOUT" id="about">
  <Fragment slot="lead">
    <span class="text-primary">I'm Erick Vasquez, a computer scientist</span>
    <br>
    <br>     
    I have developed a degree of compromise and responsibility in
    high-pressure situations, which I have been able to treat in an
    organized way through development methodologies.
  </Fragment>
  <Buttom ref="https://docdro.id/d1C8f71" title="Downloand CV" target="_blank" icon="file" class="grid grid-cols0"></Buttom>
</ContentSection>
