---
import ContentSection from "~/components/content-section.astro";
import { Image } from '@astrojs/image/components'


const posts = (await Astro.glob('../pages/blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

---

<ContentSection title="ARTICLES" id="articles">
    <section class="articles">
        <ul class="articles__post grid ">
            {posts.map((post) => (
                <li class="text-center mb-4">           
                   <a href={post.url}>
                        <img
                            class="border rounded-xl"
                            src={post.frontmatter.heroImage as string}
                            width="250"
                        
                            alt=""
                        
                        /> 
                   
                        <time datetime={post.frontmatter.pubDate} >
                            {new Date(post.frontmatter.pubDate).toLocaleDateString('en-gb', {
                                year: 'numeric',
                                month: 'short',
                                day: 'numeric',
                            })}
                        </time>
                        <div class="text-l font-bold">
                            {post.frontmatter.title}
                        </div>
                        <div>{post.frontmatter.description}</div>
                    </a>
                    
                </li>
            ))}
        </ul>
    </section>
</ContentSection>