---
import { Icon } from "astro-icon";
import ThemeSwitcher from "~/components/theme-switcher.astro";

const navItems = [
  { title: "Blog", url: "/blog" },  
  { title: "Home", url: "/" }
];
---
<header>
  <nav class="navbar text-default flex items-center justify-between m-5">
    <a class="flex items-center hover:!text-default" href="#">
        <h1>Erick Vasquez</h1>
      </a>
    <ul>    
      {
        navItems.map(({ title, url }) => (
          <li>
            <a class="text-sm" href={url}>
              {title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <ThemeSwitcher />	
</header>