---
import { getCollection } from "astro:content";
import ContentSection from "~/components/content-section.astro";
import PortfolioCard from "~/components/portfolio-card.astro";

const featuredSites = await getCollection(
  "portfolio",
  ({ data }) => "featured" in data
);
const orderedSites = featuredSites.sort(
  (a, b) => a.data.featured! - b.data.featured!
);
---

<ContentSection title="PORTFOLIO" id="portfolio">
  <Fragment slot="lead">
    These are some of my <span class="text-primary">projects</span>{" "}
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-5 lg:grid-cols-3 md:col-start-2">
      {orderedSites.map((site) =>
        <PortfolioCard site={site} />)}
    </div>
  </div>
</ContentSection>
