---
import ContentSection from "~/components/content-section.astro";
import SkillsList from "~/components/skills-list.astro";

const frameworks = [
{
    title: "Spring Boot",
    icon: "frameworks/spring",
    url: "https://spring.io/guides/gs/spring-boot/",
  },
  {
    title: ".Net Core",
    icon: "frameworks/netcore",
    url: "https://dotnet.microsoft.com/en-us/download",
  },
  {
    title: "Vue.js",
    icon: "frameworks/vue",
    url: "https://vuejs.org/",
  },
  {
    title: "Tailwind",
    icon: "frameworks/tailwind",
    url: "https://tailwindcss.com/",
  }, 
];

const others = [
  {
    title: "Linux",
    icon: "fa-brands:linux",
    url: "https://ubuntu.com/",
  },
  {
    title: "Git",
    icon: "fa-brands:git",
    url: "https://git-scm.com/",
  },
  {
    title: "Docker",
    icon: "fa-brands:docker",
    url: "https://www.docker.com/ ",
  }
];

const technologies = [
  {
    title: "HTML",
    icon: "fa-brands:html5",
    url: "https://html.com/html5/",
  },
  {
    title: "CSS",
    icon: "fa-brands:css3",
    url: "https://developer.mozilla.org/en-US/docs/Web/CSS",
  },
  {
    title: "C#",
    icon: "frameworks/csharp",
    url: "https://learn.microsoft.com/en-us/dotnet/csharp/",
  },
  {
    title: "Java",
    icon: "fa-brands:java",
    url: "https://www.java.com/"
  },
  {
    title: "SQL",
    icon: "frameworks/sql",
    url: "https://www.postgresql.org/",
  },
];
---

<ContentSection title="SKILLS" id="skills">
 <Fragment slot="lead">
    There is my <span class="text-primary">mains</span> skills.
  </Fragment>
  <SkillsList
    title="Technologies"
    data={technologies}
  />

  <SkillsList
    title="Frameworks"
    data={frameworks}
  />
  <SkillsList
    title="Others"
    data={others}
  />
</ContentSection>
