---
const { splashTitle } = Astro.props;

import Buttom from "~/components/buttom.astro";
---

<section class="relative h-full bg-black header__hero">
  <section class="starts__hero">
    <img
      src="https://i.ibb.co/LkRtmzR/stars.png"
      alt="stars"
      class="hero__img"
    />
  </section>

  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40"></div>
  <div class="relative grid h-full sm:grid-cols-2 place-items-center">
    <h2 class="flex flex-col gap-2 sm:gap-4 sm:self-auto">
      <div
        class="font-extrabold tracking-tighter text-center text-8xl gradient-text"
      >
        {splashTitle}
      </div>
      <Buttom ref="#about" title="Explore" icon="mdi:rocket-launch" />
    </h2>
  </div>
</section>

<noscript>
  <style>
      #splash-bg-fallback {
          display: block;
      }
  </style>
</noscript>

<style>
    @keyframes float {
        0% {
            transform: translate3d(0, 0, 0);
        }

        100% {
            transform: translate3d(0, 30px, 0);
        }
    }

    picture {
        animation: float linear 2.5s infinite alternate;
    }

    @media (prefers-reduced-motion: reduce) {
        picture {
            @apply animate-none;
        }

        :global(#starfield) {
            @apply hidden;
        }

        #splash-bg-fallback {
            @apply block;
        }
    }
</style>
