<div class="fixed bottom-2 right-2 flex gap-2 z-50">
  <a href="https://www-erickvasm-com.translate.goog/?_x_tr_sl=en&_x_tr_tl=es&_x_tr_hl=es&_x_tr_pto=wapp#" data-lang="es" class="inline-flex items-center justify-center h-12 px-3 font-medium tracking-wide text-white transition duration-200 bg-gray-800 rounded-md focus:shadow-outline hover:bg-gray-700">
    <span>Es</span>
  </a>
  <a href="#" data-lang="en" class="inline-flex items-center justify-center h-12 px-3 font-medium tracking-wide text-white transition duration-200 bg-gray-800 rounded-md focus:shadow-outline hover:bg-gray-700">
    <span>En</span>
  </a>
</div>
