---
import Head from "~/components/head.astro"
import HeaderBlog from "~/components/header-blog.astro";
import Buttom from "~/components/buttom.astro";
import ContentSection from "~/components/content-section.astro";
import "~/styles/index.css";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<html lang="en">
  <Head title="Blog Erick Vasquez" description=""/>
 
  <body
    class="bg-default h-full overflow-x-hidden text-base text-default selection:bg-secondary" 
  >
  <HeaderBlog />
    <main class="px-20 space-y-24 mb-10">
      <ContentSection title={title} id="articles">      
        <article>
          <figure class="mb-12 flex justify-center">
            {
              heroImage && (
                <img width={750} height={360} src={heroImage} alt="" />
              )
            }
          </figure>

          {pubDate && <time>{pubDate}</time>}
          {
            updatedDate && (
              <div>
                Last updated on <time>{updatedDate}</time>
              </div>
            )
          }    
          <hr />
          <slot />
        </article>

        <Buttom ref="/blog" title="Atras" icon="keyboard-backspace" />
      </ContentSection>
    </main>
  </body>
</html>
